{% extends '::base.html.twig' %}

{% block content %}
  <h1>Blog</h1>
  <p>Este es otro bundle</p>
  <form id="form" role="form">
    <input type="text" autofocus placeholder="Nombre" required size="30" name="name" class="form-control">
    <input type="text" placeholder="Domicilio" required size="30" name="address" class="form-control">
    <input type="text" placeholder="Teléfono" required size="30" name="phone" class="form-control">
    <input type="submit" value="Enviar" class="btn btn-default">
  </form>

  <p id="info" class="invisible">
    Me llamo <span id="name"></span>,
    vivo en <span id="address"></span>
    y mi teléfono es <span id="phone"></span>
  </p>
{% endblock %}
