<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="{{ asset('css/bootstrap-theme.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">

        <script src="{{ asset('js/vendor/modernizr-2.6.2.min.js') }}"></script>
    </head>
    <body>

      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
          <header class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Conciertos</a>
          </header>

          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="{{ path('home') }}">Home</a></li>
              <li><a href="{{ path('about') }}">About</a></li>
              <li><a href="{{ path('blog') }}">Blog</a></li>
            </ul>
          </div>
        </div>
      </nav>

     <section class="container"> 
       {% block content %}{% endblock %}
     </section>

      <script src="{{ asset('js/vendor/jquery-1.10.1.min.js') }}"</script>
      <script src="{{ asset('js/vendor/bootstrap.min.js') }}"></script>
      <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
      <script src="{{ asset('js/main.js') }}"></script>
    </body>
</html>
