{% extends '::base.html.twig' %}

{% block content %}
  <h2>WTF</h2>
  <p>Me llamo Mau y este sitio es sobre conciertos de Rock.</p>
  <p>Mi correo electrónico es <strong>{{ mail }}</p>
{% endblock %}
