{% extends '::base.html.twig' %}

{% block content %}
  <h2>Conciertos</h2>
  <article>
    <h3>Vive Latino</h3>
    <p>Se presentarán algunas bandas chidas y muuuuuuchas medio chafonas. Además de que están los de siempre aunque no hayan hecho nada interesante últimamente. Las bandas perronas como Nine Inch Nails y Arcade Fire están en días separados, y son cuatro días. Así que, seguramente las bandas que quieres ver están en días diferentes y tendrás que elegir. A menos que tengas mucho tiempo y dinero</p>
  </article>
  <article>
    <h3>Cumbre Tajín</h3>
    <p>Quiero ir pero está bien lejos. Siete horas en autobús nada más!!! Van a estar Primus, Tool y Puscifer, entre otros. Pa' qué digo mas!!</p>
{% endblock %}
