{% extends "::base.html.twig" %}

{% block content %}
<div id="container">
  <header>
    <img src="{{ asset('bundles/acmehello/imgs/pic.png') }}" alt="Screenshot" width="1000" height="90">
  </header>

  <nav>
    <ul>
      <li>
        <a href="{{ path('home') }}">Home</a>
      </li>
      <li>
        <a href="{{ path('about') }}">About</a>
      </li>
      <li>
        <a href="{{ path('blog') }}">Blog</a>
      </li>
    </ul>
  </nav>

  <section>
    {% block content %}{% endblock %}
  </section>

  <footer>
    <em>Made by Mau.</em>
  </footer>
</div>


{% endblock %}
