a {
  color: #dddddd;
  text-decoration: none; }
  a:hover {
    color: white; }

article {
  border: 1px solid #333333;
  border-radius: 3px;
  margin-top: 1em;
  padding: 0 1em; }

body {
  background-color: #dddddd;
  color: #333333; }

footer {
  background-color: #333333;
  color: #dddddd;
  font-size: 0.75em;
  text-align: center;
  padding: 0.5em; }

h3 {
  background-color: #333333;
  color: #dddddd;
  display: block;
  padding: 0.5em; }

nav {
  background-color: #333333;
  padding: 0.3em 0; }
  nav ul li {
    display: inline;
    margin: 0.5em; }

section {
  padding: 1em; }

#container {
  margin: auto;
  width: 1000px; }
